<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="names">
    <%= $player_1.name %> VS <%= $player_2.name %>
    </div>

   <div class="points">
    <%= $player_1.name %>: <%= $player_1.points %> HP & <%= $player_2.name%>: <%= $player_2.points %> HP
   </div> 

<form action="/attack">
<input type="submit" value="Attack">
</form>
</body>
</html>